PyGithub>=2.1.1
networkx>=3.1
python-dotenv>=1.0.0

fastapi
uvicorn
pydantic
httpx

sqlalchemy
psycopg2-binary

langchain
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters
sentence-transformers

fastapi-sso>=0.15.0
PyJWT>=2.8.0
langgraph
chromadb
rank_bm25

# Redis
redis>=5.0.0
hiredis>=2.3.0

# Supabase
supabase>=2.0.0